<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author List</title>
    <link rel="stylesheet" th:href="@{/default.css}">
</head>
<body>

<nav>
    <ul class="index">
        <li><a href="http://localhost:8080/jokes/index">Main page</a></li>
        <li><a href="http://localhost:8080/jokes/list">List All Entries</a></li>
        <li><a href="http://localhost:8080/jokes/create">Create an Entry</a></li>
        <div th:switch="${userData.roles}" th:case="ADMIN">
            <li><a href="http://localhost:8080/jokes/author">Update/Delete Author</a></li>
        </div>
        <div th:switch="${userData.roles}" th:case="ADMIN">
            <li><a href="http://localhost:8080/jokes/users">Update/Delete Users</a></li>
        </div>
        <li><a href="http://localhost:8080/jokes/logout">logout</a></li>
    </ul>
</nav>
<div th:if="${validationError}" th:each="error : ${validationError}">
    <label class="text-danger" th:text="${error}"></label>
</div>
<table>

    <thead>
    <tr>
        <th> AuthorID </th>
        <th> AuthorName </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(author)}">
        <td colspan="3"> No authors found </td>
    </tr>

        <tr th:each="author : ${author}">

            <form th:action="@{/jokes/author/delete/{id}(id=${author.id})}" method="get">
                <input type="hidden"  name="id" th:value="${author.id}" />
        <td><span th:text="${author.id}"> ID </span></td>
        <td><span th:text="${author.name}"> author name </span></td>
                <td>
                    <div>
                        <p>
                            <a class="btn edit-btn" th:href="@{/jokes/author/edit/{id}(id=${author.id})}">Edit</a>
                            <button type="submit" class="btn delete-btn">Delete</button>
                        </p>
                    </div>
                </td>
            </form>
        </tr>
    </tbody>
</table>
</body>
</html>