<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AuthorList</title>
</head>
<body>
nav>
<ul class="index">
    <li><a href="http://localhost:8080/jokes/index">Main page</a></li>
    <li><a href="http://localhost:8080/jokes/searchEntry">Search Entry</a></li>
    <li><a href="http://localhost:8080/jokes/list">List All Entries</a></li>
    <li><a href="http://localhost:8080/jokes/create">Create an Entry</a></li>
    <div th:switch="${userData.roles}" th:case="ADMIN">
        <li><a href="http://localhost:8080/jokes/edit">Update/Delete an Entry</a></li>
        <li><a href="http://localhost:8080/jokes/users">Update/Delete Users</a></li>
    </div>
</ul>
</nav>

<form th:action="@{/jokes/edit}" th:object="${author}"  th:method="post">
    <input type="hidden"  name="id" th:value="${author.id}" />
<table>
    <thead>
    <tr>
        <th> AuthorID </th>
        <th> AuthorName </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${author.empty}">
        <td colspan="2"> Do not find any information </td>
    </tr>
    <tr th:each="author : ${author}">
        <td><span th:text="${author.id}"> ID </span></td>
        <td><span th:text="${author.name}"> author name </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>