<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User details</title>
</head>
<body>
<nav>
    <ul class="index">
        <li><a href="http://localhost:8080/jokes/index">Main page</a></li>
        <li><a href="http://localhost:8080/jokes/searchEntry">Search Entry</a></li>
        <li><a href="http://localhost:8080/jokes/list">List All Entries</a></li>
        <li><a href="http://localhost:8080/jokes/create">Create an Entry</a></li>
        <div th:switch="${userData.roles}" th:case="ADMIN">
            <li><a href="http://localhost:8080/jokes/edit">Update/Delete an Entry</a></li>
            <li><a href="http://localhost:8080/jokes/users">Update/Delete Users</a></li>
        </div>
    </ul>
</nav>

<div th:if="${validationError}" th:each="error : ${validationError}">
    <label class="text-danger" th:text="${error}"></label>
</div>

<form th:action="@{jokes/users/edit}"  th:method="post">


    <table>

        <tr>
            <td>Id<span class="text-danger"></span></td>
            <td><span th:text="${userId}"> </span></td>
        </tr>
        <tr>
            <td>Username</td>
            <td><span th:text="${username}"> </span></td>
        </tr>
        <tr>
            <td>Authority<span class="text-danger"></span></td>
            <td>

                <select multiple="multiple" th:field="*{authorities}" name="authorities" required>
                    <option th:each="authority : ${user.authorities}"
                            th:value="${authority.authority}"
                            th:text="${authority.authority}"
                            th:selected="${#lists.contains(user.authorities, authority)}">Admin</option>
                    <option th:each="authority : ${user.authorities}"
                            th:value="${authority.authority}"
                            th:text="${authority.authority}"
                            th:selected="${#lists.contains(user.authorities, authority)}">User</option>
                </select>
            </td>
        </tr>
    </table>

    <br/>
    <div>
        <input type="submit" value="Save" class="btn btn-primary">
    </div>
</form>
</div>
</body>
</html>