<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<p>welcome to joke generator</p>
<body>
<nav>
    <ul class="index">
        <li><a href="http://localhost:8080/jokes/index">Main page</a></li>
        <li><a href="http://localhost:8080/jokes/searchEntry">Search Entry</a></li>
        <li><a href="http://localhost:8080/jokes/list">List All Entries</a></li>
        <li><a href="http://localhost:8080/jokes/create">Create an Entry</a></li>
        <div th:switch="${userData.roles}" th:case="ADMIN">
            <li><a href="http://localhost:8080/author">Update/Delete an Entry</a></li>
            <li><a href="http://localhost:8080/jokes/users">Update/Delete Users</a></li>
        </div>
    </ul>
</nav>

</body>
</html>