<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav>
    <ul class="index">
        <li><a href="http://localhost:8080/jokes/index">Main page</a></li>
        <li><a href="http://localhost:8080/jokes/searchEntry">Search Entry</a></li>
        <li><a href="http://localhost:8080/jokes/list">List All Entries</a></li>
        <li><a href="http://localhost:8080/jokes/create">Create an Entry</a></li>
        <div th:switch="${userData.roles}" th:case="ADMIN">
            <li><a href="http://localhost:8080/jokes/edit">Update/Delete an Entry</a></li>
            <li><a href="http://localhost:8080/jokes/users">Update/Delete Users</a></li>
        </div>
    </ul>
</nav>

<table>
    <thead>
    <tr>
        <th> Jokes </th>
        <th> AuthorName </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${jokes.empty}">
        <td colspan="2"> Do not find any information </td>
    </tr>
    <tr th:each="jokes : ${jokes}">
        <td><span th:text="${jokes.joke}"> joke </span></td>
        <td><span th:text="${jokes.author.name}"> author </span></td>
    </tr>
    <div th:switch="${user.username}">
        <p th:case="admin" style="display:none"> <!-- ADMINの場合は表示にする -->
            <a class="btn edit-btn" th:href="@{/jokes/users/edit/{id}(id=${user.userId})}" >Edit</a>
            <a class="btn delete-btn" th:href="@{/users/delete/{id} (id=${user.userId})}" >Delete</a>
        </p>
        <p th:case="*"> <!-- その他の場合は非表示にする -->
            <a class="btn edit-btn" th:href="@{/jokes/users/edit/{id}(id=${user.userId})}" style="display:none">Edit</a>
            <a class="btn delete-btn" th:href="@{/jokes/users/delete/{id} (id=${user.userId})} " style="display:none">Delete</a>
        </p>
    </div>
    </tbody>
</table>
</body>
</html>