<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/default.css}">
</head>
<body>


<div id="flex">
    <div id="register">
        <h2 id="headerSignup">Sign up </h2>
        <form th:action="@{/jokes/signup}" method="get">
            <div id="signup">
                <input  type="submit" value="sign up" class=" btn btn-primary">
            </div>
        </form>
    </div>

    <div id="form">
        <h2 id="headerLogin">Login </h2>
        <form th:action="@{/jokes/login}" method="post" th:object="${login}">
            <p class="fsize"> User name</p>
            <label>
                <input type="text" placeholder="Username" th:field="*{username}" class="input-box">
            </label>

            <p class="fsize"> Password</p>
            <label>
                <input type="password" placeholder="Password" th:field="*{password}" class="input-box">
            </label>
            <div id="submit" >
              <p>  <input class=" btn btn-primary" type="submit" value="login" id="loginButton"> </p>
            </div>
            <div th:if="${errorMsg != null}" style="color: red;">Error: <span th:text="${errorMsg}"></span></div>


        </form>
    </div>
</div>
</body>
</html>