<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="stylesheet" th:href="@{/default.css}">
</head>
<body>
<div>
    <form th:action = "@{/jokes/signup}" method="post" th:object="${signupForm}">
        <div class="form-group">
            <div class="col-3 col-md-2 col-xxl-1">
                <p class="center"> Login ID</p>
                    <input class="form-control" type="text" th:field ="*{username}">
            </div>
            <div class="col-3 col-md-2 col-xxl-1">
                <p class="center">Password</p>
                    <input class="form-control" type="password" th:field = "*{password}">
            </div>
        </div>
        <div th:if="${errorMsg != null}" style="color: red;">Error: <span th:text="${errorMsg}"></span></div>
        <div>
          <p>  <input class="btn btn-primary" type = "submit" value="sign up"> </p>
        </div>
    </form>
</div>
<div class="place"><button class="btn btn-primary" onclick="location.href='/jokes/login'">Go back to Login</button></div>

</body>
</html>